.container
  .row
    %h3 Lista składników
    %h6= link_to 'Dodaj składnik', new_admin_component_path, class: 'btn btn-primary btn-sm'
    %table.table.table-bordered
      %tr
        %th Nazwa
        %td Cena
        %th.text-center{:colspan => "2"} Akcje
      - @components.each do |component|
        %tr
          %td= component.name
          %td= component.price
          %td.text-center.no_wrap
            = link_to 'Zmień', edit_admin_component_path(component), class: 'btn btn-primary btn-sm'
          %td.text-center.no_wrap
            = link_to 'Usuń', admin_component_path(component), method: :delete, class: 'btn btn-danger btn-sm'