!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title PizzaShop
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %h2{style: 'margin-left: 50px;'}
      Pizza Shop
      = link_to 'Panel admina', admin_pizzas_path, class: 'btn btn-primary btn-xs'
    = yield
